<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>FaceLite</title>
      <link rel="stylesheet" type="text/css" href="common.css" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="top-container">
        
        <h1>FaceLite</h1>
      </div>
      <div class="white-box">
          <p>Welcome, to FaceLite</p>
          <div class="error" th:if="${message}">          
            <span th:text="${message}"></span>
          </div>
          <form method = "POST" action="/login.html"> 
          <label for="email" class="email-label">Email: <span style="color: red;">*</span></label>
          <input required type="text" class="email-input" name="email"><br><br>
          <label for="pass" class="pass-label">Password:</label>
          <input required type="password" class="pass-input" name="pass"><br><br>
          <input type="submit" name = "loginAction" class="submit" value="Login">
          </form>

          
          <a href="register.html">Create New Account</a>
      </div>
      <h2>Contact us</h2>
      <div class="bottom-container">
        <div class="footer">
          <a class="footer-link" href="http://linkedin.com/in/preet-choudhary-3864061b9">LinkedIn</a>
          <a class="footer-link" href="https://instagram.com/preet_choudhary145?r=nametag">Instagram</a>
          <a class="footer-link" href="file:///C:/Users/User/Desktop/RMIT/Semester%203/Database%20Applications/Assignment-1/HMTL/index.html">Website</a>
        </div>
        <p class="s">© 2021 Preet Choudhary.</p>
      </div>
    </body>
  </html>
  