/* @authors Preet Choudhary & Viet Tran */

body {
  margin: 0px;
  background-color: #CDF0EA;
}

h1 {
  font-family: 'Reenie Beanie', sans-serif;
  color: #867AE9;
  position: absolute;
  margin: 3% 38.5%;
  font-size: 70px;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #BEAEE2;
  position: relative;
  top: 120px;
  left: 617px;
  font-size: 30px;
}

h3{
  font-family: 'Montserrat',sans-serif;
  color: #BEAEE2;
  position: relative;
  top: 900px;
  left: 617px;
  font-size: 44px;
}

a {
  margin: 0 35%;
  font-family: Montserrat;
  font-weight: 600;
}

.forehead{
background-color: #867AE9;
font-family: 'Reenie Beanie', sans-serif;
padding-top: 1px;
}

.head{
margin-bottom: 0px;
  margin-top: 6px;
  margin-left: 12px;
  padding-bottom: 6px;
  font-size: 40px;
  color: white;
}
.manage {
  position: relative;
  top: 150px;
  left: -450px;
  line-height: 200%;
}

.friends {
    position: relative;
    top: 17px;
    left: 650px;
    line-height: 200%;
}

.post-title-label {
  font-family: 'Montserrat', sans-serif;
  color: #867AE9;
  position: relative;
  top: -278px;
  left: 617px;
  font-size: 20px;
}

.postbox-label {
  position: relative;
  top: -100px;
  left: 360px;
}

.submit-post {
  width: 333px;
  height: 35px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  background-color: #CDF0EA;
  position: relative;
  top: -50px;
}

.bottom-container {
  position: relative;
  top: 936px;
  background-color: #867AE9;
  height: 155px;
}

.footer {
  position: relative;
  left: 586px;
}

.footer-link {
  margin: 10px;
  position: relative;
  top: 64px;
  font-family: Montserrat, sans-serif;
  margin: 0 40px 100px auto;
  text-decoration: none;
  color: #BEAEE2;
}

.s {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  margin-left: 612px;
  margin-top: 113px;

}

.homedr{
  font-family: 'Montserrat', sans-serif;
  color: #BEAEE2;
  position: relative;
  top: -50px;
  font-size: 17px;
  left: 34%;
}
